---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
SortIncludes: false
